{% load lookup_tags %}
{% load svg %}

<section class="bg-gray-100">
    <div class="container px-4 sm:px-2 mx-auto">
        <div class="pt-20 pb-24">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 lg:col-span-6 mb-10 lg:mb-0">
                    <div class="w-64 mb-8">
                        {% svg 'img/francopiolilogo' %}
                    </div>
                    <p class="text-2xl leading-tight">
                        {{ textblocks|lookup:'footer/text'|linebreaksbr }}
                    </p>
                </div>
                <div class="col-span-12 sm:col-span-6 lg:col-span-2 mb-10 sm:mb-0">
                    <h2 class="text-2xl leading-tight font-futuraheavy mb-5">Navigation</h2>
                    <ul>
                        {% url 'content:index' as index_url %}
                        <li class="text-lg">{% include 'content/symbols/link.html' with text='Startseite' href=index_url %}</li>
                        {% url 'content:articles' as articles_url %}
                        <li class="text-lg">{% include 'content/symbols/link.html' with text='Artikel' href=articles_url %}</li>
                        {% url 'content:about' as about_url %}
                        <li class="text-lg">{% include 'content/symbols/link.html' with text='Über uns' href=about_url %}</li>
                        {% url 'content:contact' as contact_url %}
                        <li class="text-lg">{% include 'content/symbols/link.html' with text='Kontakt' href=contact_url %}</li>
                    </ul>
                </div>
                <div class="col-span-12 sm:col-span-6 lg:col-span-4">
                    <div class="flex flex-col sm:items-end sm:text-right">
                        <h2 class="text-2xl leading-tight font-futuraheavy mb-5">Kontakt</h2>
                        <p class="mb-1">
                            Franco Pioli <br>
                            Ahornstraße 6 <br>
                            85457 Wörth
                        </p>
                        <p>
                            Mobil: {% include 'content/symbols/link.html' with text='0179 1408990' href='#' %} <br>
                            Mail: {% include 'content/symbols/link.html' with text='info@vereinsberatung-und-sportmanagement.de' href='#' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container px-4 sm:px-2 mx-auto">
            <div class="py-4">
                <div class="flex justify-between text-gray-600 flex-wrap">
                    <p class="mb-2 sm:mb-1">
                        <span class="">© 2020 Franco Pioli</span>&nbsp;&nbsp;&nbsp;<a class="hover:text-gray-800" href="{% url 'content:imprint' %}">Impressum</a>&nbsp;&nbsp;&nbsp;<a class="hover:text-gray-800" href="{% url 'content:data_protection' %}">Datenschutz</a>
                    </p>
                    <p>
                        Seite erstellt von <a class="hover:text-gray-800" href="https://tortuga-webdesign.de" target="_blank">Daniel Mössner</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>