{% extends 'base.html' %}

{% block body %}
    <section class="">
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center no-gutters min-vh-100">
                <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
                    <h1 class="mb-0 font-weight-bold text-center">
                        Einloggen
                    </h1>
                    <p class="mb-6 text-center text-muted">
                        Zugriff auf unsere Vorlagen & Infos
                    </p>
                    <form class="mb-6 django-form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="redirect" value="einstellungen">
                        <button class="btn btn-block btn-primary" type="submit">
                            Einloggen
                        </button>
                    </form>
                    <p class="mb-0 font-size-sm text-center text-muted">
                        Noch keinen Account? <a href="{% url 'content:contact' %}">Kontakt aufnehmen</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}