<section class="fixed top-0 h-screen w-full" style="z-index: -1">
    <div class="container px-4 sm:px-2 mx-auto">
        <div class="grid gap-4 grid-cols-12">
            <div class="bg-gray-200 opacity-50 h-screen"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>

            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>

            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
            <div class="bg-gray-200 opacity-50"></div>
        </div>
    </div>
</section>